flask
unicategories
python-docx

# # for python < 3.6
# scandir

# # for python < 3.3
# backports.shutil_get_terminal_size

# for building
setuptools
wheel

# for Makefile tasks (testing, coverage, docs)
pep8
flake8
coverage
pyaml
sphinx

browsepy
python-docx pymongo
pywin32
# pytesseract
# pillow
easyocr
PyMuPDF
pdfplumber
reportlab
arabic-reshaper python-bidi
pyodbc
PyPDF2
python-bidi arabic-reshaper
lxml
docxtpl

